body {
    background-color: $gray-lightest;
    box-sizing: border-box;
    display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header" "main" "footer";
        gap: $space-md;
    min-height: 100vh;
    
    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        margin-right: auto;
        margin-left: auto;
        max-width: 60rem;
        padding: 0 $space-lg $space-lg;
        width: 100%;
    }

    footer {
        grid-area: footer;
    }
}