body {
    background-color: $gray-lightest;
    box-sizing: border-box;
    display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header" "main" "footer";
        gap: $space-md;
    min-height: 100vh;
    
    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        margin-right: auto;
        margin-left: auto;
        max-width: 50rem;
        padding: 0 $space-lg $space-lg;
        width: 100vw;
    }

    footer {
        grid-area: footer;
    }
}

.contained-width {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

section + section {
    margin-top: calc(3 * $space-xl);
}

.usage-layout {
    display: grid;
        grid-template-columns: 1fr minmax(0, 2.5fr);
        gap: $space-lg;

    @media screen and (max-size: $screen-tablet) {
        grid-template-columns: 1fr;
    }
}