// ANIMATION
$transition: all .2s ease;


// BORDERS
$border-radius: 4px;


// COLORS
$color-primary: #6042BC;
$color-primary-light: #9B74E8;
$color-action: #F7A006;
$color-success: #8AD3E3;
$color-error: #F90B66;

$white: #FFFFFF;
$gray-light: #eae7ed;
$gray: #a4a3a5;
$gray-dark: #61666E;
$black: #190641;


// BOX SHADOWS
$box-shadow-lg: 0 15px 30px lighten($gray, 15%);


// SPACING
$space-xxs: .25rem;
$space-xs: .5rem;
$space-sm: .75rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 3rem;


// TYPOGRAPHY
$font-size-base: clamp(14px, 2vmin, 16px);
$font-size-sm: .85rem;
$font-size-xs: .65rem;

$h1-font-size: clamp(1.75rem, 5vmin, 2rem);
$h2-font-size: clamp(1.75rem, 4vmin, 2rem);
$h3-font-size: clamp(1.25rem, 3vmin, 1.75rem);
$h4-font-size: clamp(1rem, 3vmin, 1.25rem);
$h5-font-size: clamp(.8rem, 2vmin, 1rem);
$h6-font-size: clamp(.7rem, 1.75vmin, .8rem);

$font-weight-bold: 700;

$line-height: 1.5;
$h1-line-height: 1.1;
$h2-line-height: 1.1;
$h3-line-height: 1.1;
$h4-line-height: 1.2;
$h5-line-height: 1.3;
$h6-line-height: 1.3;