<footer>
    <a href="" target="blank">Separate Documentation Link Goes Here?</a>
    <p>
        ©<%= DateTime.utc_now.year %>. Happily built and maintained by <a href="https://launchscout.com/" target="blank">Launch Scout</a>.
    </p> 
</footer>