[part='cart-button'] {
  background-color: transparent;
  border-radius: 4px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  padding: 5px 10px 3px;
  position: relative;
  transition: all .2s ease;

  &:hover,
  &:active,
  &:focus {
      background-color: hsl(260, 72%, 91%);
  }

  &:focus-visible {
      outline: 2px solid #F7A006;
      outline-offset: 3px;
  }
}

[part='cart-icon'] {
  fill: #2C1760;
}

[part='cart-count'] {
  background-color: #F90B66;
  border-radius: 50%;
  color: #ffffff;
  display: inline-flex;
      align-items: center;
      justify-content: center;
  font-size: .6rem;
  font-weight: 700;
  height: 8px;
  line-height: 0;
  padding: 5px;
  position: absolute;
      bottom: 25%;
      right: -8px;
  width:8px;
}

[part='modal'] {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2rem rgba(128, 128, 128, .3);
  padding: 0;
  margin: auto;
  max-width: 50rem;
  width: 100%;
}

[part='modal-header'] {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

[part='modal-body'] {
  padding: 1rem 3rem 3rem;
}

[part='close-modal'] {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: #2C1760;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: right;

  &:hover,
  &:active,
  &:focus {
      color: #6042BC;
  }

  &:focus-visible {
      outline: 2px solid #F7A006;
      outline-offset: 3px;
  }
}

[part='cart-decrease-qty-button'],
[part='cart-increase-qty-button'] {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 .5rem;
  padding: 0 .4rem;

  &:hover,
  &:active,
  &:focus {
    background-color: hsl(260, 72%, 91%);
  }

  &:focus-visible {
    outline: 2px solid #F7A006;
    outline-offset: 3px;
}
}

[part='cart-empty-message'] {
  margin-bottom: 40px;
  text-align: center;
}

[part='cart-thank-you'] {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 70px;
  text-align: center;
}

[part='cart-summary-table'] {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 100%;
}

[part='cart-summary-item'] {
  text-align: left;
  padding: 10px 5px;
}

[part='cart-summary-qty'] {
  text-align: center;
  padding: 10px 5px;
}

[part='cart-summary-price'] {
  text-align: right;
  padding: 10px 5px;
}

[part='cart-summary-remove'] {
  text-align: right;
  padding: 10px 5px;
  width: 1px;
}

[part='cart-remove-item-button'] {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
      color: #F90B66;
  }

  &:focus-visible {
      outline: 2px solid #F7A006;
      outline-offset: 3px;
  }
}
[part='checkout-button'],
[part='add-to-cart-button'] {
  background-color: #2c1760;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
    align-items: center;
    gap: .5rem;
  font-weight: 700;
  padding: 8px 16px;
  position: relative;

  &:disabled {
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
        background-color: #2c1760;   
    }
  }

  &:hover,
  &:active,
  &:focus {
      background-color: #6042BC;   
  }

  &:focus-visible {
      outline: 2px solid #F7A006;
      outline-offset: 3px;
  }
}

[part='spinner'] {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: .75rem;
  height: .75rem;
  
  [part='spinner-path'] {
    stroke: hsl(260, 72%, 91%);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}