.alert {
    border-radius: $border-radius;
    display: flex;
        align-items: center;
        justify-content: space-between;
    font-weight: $font-weight-bold;
    margin-bottom: $space-xs;
    margin-top: 0;
    padding: $space-xs $space-md;

    &::first-letter {
        text-transform: capitalize;
    }

    &__close {
        background-color: transparent !important;
        color: inherit;
        cursor: pointer;
        font-size: $font-size-sm;

        &:hover,
        &:active,
        &:focus {
            color: inherit;
            transform: scale(1.1);
        }
    }

    &--info {
        background-color: $color-success;
        color: $black;
    }

    &--error {
        background-color: $color-error;
        color: $white;
    }
}

.invalid-feedback {
    color: $color-error;
    display: inline-block;
    font-weight: $font-weight-bold;
    margin-bottom: $space-xxs;
    
    &::first-letter {
        text-transform: capitalize;
    }
}