button, .button,
a.button {
    background-color: $black;
    border: 0;
    border-radius: $border-radius;
    color: $white;
    cursor: pointer;
    font-weight: $font-weight-bold;
    margin: 0;
    padding: $space-xs $space-md;
    transition: $transition;

    &:active,
    &:hover,
    &:focus {
        background-color: $color-primary;
        color: $white;
        margin: 0;
    }

    &:active {
        transform: scale(.99);
    }

    @include focus-visible;

    &--cta {
        background-color: $color-action;
        color: $black;

        &:hover,
        &:active,
        &:focus {
            background-color: lighten($color-action, 15%);
            color: $black;
        }
    }
}