button, .button,
a.button {
    background-color: $black;
    border: 0;
    border-radius: $border-radius;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: $font-weight-bold;
    padding: $space-xs $space-md;
    text-decoration: none;
    transition: $transition;

    i.material-icons {
        margin-left: -$space-xxs;
    }

    &:active,
    &:hover,
    &:focus {
        background-color: $color-primary;
        color: $white;
    }

    &:active {
        transform: scale(.99);
    }

    @include focus-visible;

    &--cta {
        background-color: $color-action;
        color: $black;

        &:hover,
        &:active,
        &:focus {
            background-color: lighten($color-action, 15%);
            color: $black;
        }
    }

    &--sm {
        font-size: $font-size-sm;
        padding: $space-xxs $space-sm;
    }
}

.btn {
    background-color: transparent;
    border: 2px solid green;
    border-radius: 50%;
    color: green;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 2rem;
    padding: 1rem;
    width: 2rem;

    &:hover,
        &:active,
        &:focus {
            background-color: green;
        }
}