code,
.code {
    background-color: $gray-light;
    border-radius: $border-radius;
    border: $border;
    display: inline-block;
    font-family: monospace;
    line-height: 1.5;
    padding: 0 $space-xxs;

    &--block {
        background-color: $black;
        color: $white;
        display: block;
        width: 100%;
    }
}