footer {
    display: flex;
        flex-wrap: wrap;
        gap: $space-md;
        align-items: baseline;
        justify-content: space-between;
    margin-top: calc(4 * $space-xl);
    padding: $space-sm $space-lg;
}