.hero {
    // background-image:   linear-gradient(190deg, transparentize($gray-lightest, .8), transparentize($gray-lightest, 0) 70.71%),
    //                     linear-gradient(127deg, transparentize($color-primary-light, .9), transparentize($color-primary-light, .4), $gray-lightest 70.71%),
    //                     linear-gradient(336deg, transparentize($color-primary-tint, .8), transparentize($color-primary-tint, 0) 70.71%);   
    // background-size: 100% 30%;
    // background-repeat: no-repeat;
    padding: $space-xl 0;
    text-align: center;

    h1 {
        font-size: clamp(2rem, 6vmin, 3rem);
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $space-sm;
    }

    p {
        font-size: $font-size-lg;
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
    }

    .video {
        box-shadow: 0 0 60px transparentize($color-primary-light, .2);
        margin: $space-lg 0;
    }
}