input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    border-radius: $border-radius;
    border: $border;
    margin: 1px 0 1px 0;
    padding: $space-xxs $space-xs;
    transition: $transition;
    width: 100%;

    &:focus {
        border-width: 2px;
        border-color: $color-primary;
        margin: 0 0 0 0;
    }

    @include focus-visible;
}

.input-group {

    label {
        display: block;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        margin-bottom: $space-xxs;
    }

    &--inline {
        display: flex;
            gap: $space-xxs;
            align-items: center;
    }
}