launch-cart {
    &::part(cart-button) {
       background-color: transparent;
       border-radius: 4px;
       border-width: 0;
       border-style: solid;
       border-color: transparent;
       cursor: pointer;
       padding: 5px 10px 3px;
       position: relative;
       transition: all .2s ease;

        &:hover,
        &:active,
        &:focus {
            background-color: hsl(260, 72%, 91%);
        }

        &:focus-visible {
            outline: 2px solid #F7A006;
            outline-offset: 3px;
        }
    }

    &::part(cart-icon) {
        fill: #2C1760;
    }

    &::part(cart-count) {
        background-color: #F90B66;
        border-radius: 50%;
        color: #ffffff;
        display: inline-flex;
            align-items: center;
            justify-content: center;
        font-size: .6rem;
        font-weight: 700;
        height: 8px;
        line-height: 0;
        padding: 5px;
        position: absolute;
            bottom: 25%;
            right: -8px;
        width:8px;
    }

    &::part(cart-empty-message) {
        margin-bottom: 40px;
        text-align: center;
    }

    &::part(cart-summary-table) {
        border-collapse: collapse;
        margin-bottom: 20px;
        width: 100%;
    }

    &::part(cart-summary-item) {
        text-align: left;
    }

    &::part(cart-summary-qty) {
        text-align: center;
    }

    &::part(cart-summary-price) {
        text-align: right;
    }

    &::part(cart-summary-remove) {
        text-align: center;
    }

    &::part(cart-remove-item-button) {
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            color: #F90B66;
        }

        &:focus-visible {
            outline: 2px solid #F7A006;
            outline-offset: 3px;
        }
    }

    &::part(checkout-button) {
        background-color: #2C1760;
        border: 0;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        font-weight: 700;
        padding: 8px 16px;

        &:hover,
        &:active,
        &:focus {
            background-color: #6042BC;   
        }

        &:focus-visible {
            outline: 2px solid #F7A006;
            outline-offset: 3px;
        }
    }
}