.modal {
    background-color: transparentize($color: $black, $amount: .6);
    box-shadow: $box-shadow-lg;
    display: flex;
        align-items: center;
        justify-content: center;
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    
    &__content {
        background-color: $white;
        border-radius: $border-radius;
        max-width: 40rem;
        padding: $space-lg;
        width: 100%;
    }

    &__close {
        border: 0;
        float: right;
    }
}