nav {
    flex-grow: 1;
    display: flex;
        gap: $space-sm;
        flex-wrap: wrap;
        justify-content: space-between;

    div {
        display: flex;
            flex-wrap: wrap;
            gap: $space-md;
    }

    a {
        border: none;
        margin: 0;
    }
}

// MOBILE NAV
.nav__toggle {
    background-color: transparent !important;
    display: none;
    height: calc($space-xxs * 5);
    position: relative;
    width: $space-lg;
    z-index: 100;

    span {
        background-color: $black;
        border-radius: $border-radius;
        display: block;
        height: $space-xxs;
        position: absolute;
        width: $space-lg;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: calc($space-xxs + $space-xxs);
        }

        &:nth-child(3) {
            top: calc(2 * ($space-xxs + $space-xxs));
        }
    }
}

@media screen and (max-width: $screen-tablet) {
    .nav__toggle {
        display: block;
    }

    nav {
        background-color: $white;
        flex-direction: column;
            justify-content: space-between;
            align-items: center;
        font-size: $font-size-base;
        overflow: hidden;
        padding: 0 $space-lg;
        position: absolute;
            top: 0;
            right: 0;
            bottom: 100%;
            left: 0;
        transition: $transition;
        
        div {
            flex-direction: column;
                align-items: center;
        }

        &.open {
            bottom: 0;
            padding: 10rem $space-lg;
        }
    }
}