<footer title="Site Footer">
    <a href="/api_docs" target="blank">API Documentation</a>
    <p>
        ©<%= DateTime.utc_now.year %>. Happily built and maintained by <a href="https://launchscout.com/" target="blank">Launch Scout</a>.
    </p>
</footer>
