<h1>New Stripe account</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stripe_account_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.stripe_account_path(@conn, :index) %></span>
