<section class="card">
    <h1>Thanks!</h1>
    <p>You should receive an email shortly. Follow the confirmation instructions and you are ready to start using Launch Elements!</p>
    <a class="button" href="/">Back to homepage</a>
</section>
