<section class="card">
    <h1>Thanks!</h1>
    <p>Thank you for your interest in testing our product. We know that getting real user feedback is the best way to build the right thing, so we can't thank you enough. We'll be in touch soon.</p>
    <a class="button">Back to homepage</a>
</section>
